{% extends 'blog/base.html' %}

{% block content %}
{% for post in data %}
<article class="media content-section">
    <div class="media-body">
      
      <div class="article-metadata container">
        <img class='rounded-circle article-img'src="{{ post.author.usersprofile.image.url }}" >
        <a class="me-2 text-decoration-none" href="{% url 'profile_blogs' username=post.author.username %}">{{ post.author }}</a>
        <small class="text-muted">{{ post.data_posted }}</small>
        {% if post.author == user %}
        
        <div class="float-end">
          <a class="fa-solid fa-pen-to-square" href="{% url 'blog-update' post.id %}"></a>
          <a class="fa-solid fa-trash" href="{% url 'blog-delete' post.id %}"></a>
      </div>
        {% endif %}
      </div>
      <h2><a class="article-title text-decoration-none" href="{% url 'blog-details' pk=post.author.id %}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
  
{% endfor %}
  
{% endblock %}